{% extends "layout.html" %}

{% block content %}
    <section class="hero is-fullheight is-default is-bold">
       
        <div class="hero-body header-fondo">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-8-tablet is-8-desktop is-8-widescreen">
                        <table class="table">
                            <caption class="cap"><strong>AUTORES</strong></caption>
                          <tr>
                            <td><strong>Nombre autor</strong></td>
                            <td><strong>Fecha de nacimiento</strong></td>
                            <td><strong>nacionalidad</strong></td>
                            <td colspan="2"><strong>Opciones</strong></td>
                          </tr>
                        
                          {% for autor in consulta %}
                          <tr>
                              <td>{{autor.nombre_autor}}</td>
                              <td>{{autor.fecha_nac}}</td>
                              <td>{{autor.nacionaliad}}</td>
                              <td><a class="button is-success" href="/editarautor/{{autor.id_autor}}">Editar</a> <br>
                                <a class="button is-danger" href="/eliminarautor/{{autor.id_autor}}">Eliminar</a></td>
                          </tr>
                          {% endfor %}
                        </table>
                        <div class="buttons">
                            <a class="button is-success" href="/registrarAutor" >Agregar un nuevo autor</a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hero-foot">
            <div class="container">
                <div class="tabs is-centered">
                    <ul>
                        <li><a>And this is the bottom</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <script src="../js/bulma.js"></script>
{% endblock %}